body {
  font-family: 'Arial', sans-serif;
  background: #ffe6e6;
  text-align: center;
  padding-top: 100px;
}

.container h1 {
  font-size: 3rem;
  color: #d6336c;
}

.container p {
  font-size: 1.5rem;
  margin-top: -10px;
  margin-bottom: 30px;
}

button {
  font-size: 1.2rem;
  padding: 12px 28px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

#yesBtn {
  background: #ff4d94;
  color: white;
}

#noBtn {
  background: #ffffff;
  color: #d6336c;
  border: 2px solid #d6336c;
}

#noBtn:hover {
  transform: translateX(100px); /* makes NO button move */
}

#result {
  margin-top: 40px;
  font-size: 2rem;
  color: #d6336c;
}
